$default-font: "raleway-ex", sans-serif;
$openSans:"open-sans-ex", sans-serif;
$white: #FFF;
$main-color: #C63F2F;
$border-color: #515151;
$darken-white: #95989A;
$icon-color-1: #EBF1F5;
$section-light-color: #F1F1F2;
$hover-description-color: #515151; 
$number-color: #FE850D;